@import 'src/styles/variables';

.notifications {
  position: fixed;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}

.message {
  display: block;
  padding: 12px 10px;
  margin-top: 4px;
  background-color: $hover-background-color;
  color: #fff;
}