.button {
  display: block;
  line-height: 42px;
  height: 40px;
  padding: 0 20px;
  text-align: center;
  background: #8f7a66;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  color: #f9f6f2;
  border: none;
}
