$box-size: 110px;
$gap-box-size: 10px;
$game-size: 500px;

$small-box-size: 65px;
$small-gap-box-size: 10px;
$small-game-size: 320px;

$small-resolution: 560px;

.board {
  width: 500px;
  height: 500px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbada0;
  border-radius: 6px;

  @media (max-width: $small-resolution) {
    width: $small-game-size;
    height: $small-game-size;
  }
}

.boxes {
  display: grid;
  grid-template-columns: $box-size $box-size $box-size $box-size;
  grid-template-rows: $box-size $box-size $box-size $box-size;
  column-gap: $gap-box-size;
  row-gap: $gap-box-size;
  width: 100%;
  height: 100%;

  @media (max-width: $small-resolution) {
    grid-template-columns: $small-box-size $small-box-size $small-box-size $small-box-size;
    grid-template-rows: $small-box-size $small-box-size $small-box-size $small-box-size;
    column-gap: $small-gap-box-size;
    row-gap: $small-gap-box-size;
  }
}
